<header class="header">
  <div class="logo">
    <img src="https://www.facturaelectronicagfa.mx/assets/img/logo.png" alt="Logo Flecha Amarilla" />
  </div>
  <nav class="nav">
    <a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">INICIO</a>
    <a routerLink="/aviso" routerLinkActive="activo">AVISO DE PRIVACIDAD</a>
    <a routerLink="/preguntas" routerLinkActive="activo">PREGUNTAS FRECUENTES</a>
    <a routerLink="/contacto" routerLinkActive="activo">CONTACTO</a>
    <a href="https://www.conectagfa.com.mx/#/es/principal" target="_blank" rel="noopener noreferrer">CONECTA GFA</a>
  </nav>
</header>

<router-outlet></router-outlet>
