<header class="header">
  <div class="logo">
    <img src="https://raw.githubusercontent.com/Azuushi/archivo/refs/heads/main/logo.png" alt="Logo Flecha Amarilla" />
  </div>

  <!-- Botón hamburguesa que cambia a ✖ al abrir -->
  <button class="hamburger" (click)="menuAbierto = !menuAbierto">
    {{ menuAbierto ? '✖' : '☰' }}
  </button>

  <!-- Menú con clase dinámica -->
  <nav class="nav" [class.open]="menuAbierto">
    <a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">INICIO</a>
    <a routerLink="/aviso" routerLinkActive="activo">AVISO DE PRIVACIDAD</a>
    <a routerLink="/preguntas" routerLinkActive="activo">PREGUNTAS FRECUENTES</a>
    <a routerLink="/contacto" routerLinkActive="activo">CONTACTO</a>
    <a href="https://www.conectagfa.com.mx/#/es/principal" target="_blank" rel="noopener noreferrer">CONECTA GFA</a>
  </nav>
</header>

<router-outlet></router-outlet>
