    <main class="contenido">
        <h1>¡Contactanos! Es un placer atenderte</h1>

        <div class="contacto-padre">
            <div class="contacto-container">
                <h2>Paquetería</h2>
                <div class="persona">
                    <p class="nombre">Martha Ramírez</p>
                    <p class="correo">centerpaq02&#64;flecha-amarilla.com</p>
                </div>
                <div class="persona">
                    <p class="nombre">Beatriz Armenta Vera</p>
                    <p class="correo">centerpaq03&#64;flecha-amarilla.com</p>
                </div>
                <div class="persona">
                    <p class="nombre">Ruth Rodríguez López</p>
                    <p class="correo">jefecenterpaq&#64;flecha-amarilla.com</p>
                </div>
            </div>

            <div class="contacto-container">
                <h2>Envíos primera plus</h2>
                <div class="persona">
                    <p class="nombre">Aldo Baruc Mora Valtierra</p>
                    <p class="correo">coordenviospplus&#64;flecha-amarilla.com</p>
                </div>
                <div class="persona">
                    <p class="nombre">Diego Esau Estrada Medina</p>
                    <p class="correo">auxeppont&#64;flecha-amarilla.com</p>
                </div>
            </div>

            <div class="contacto-container">
                <h2>Primera Plus</h2>
                <div class="persona">
                    <p class="departamento">Venta de Boletos y Tiempo Aire</p>
                    <p class="nombre">Departamento Fiscal</p>
                    <p class="correo">cfdiboletoprimeraplus&#64;flecha-amarilla.com</p>
                </div>
            </div>

            <div class="contacto-container">
                <h2>Consumo de alimentos</h2>
                <div class="persona">
                    <p class="nombre">Teresa de Jesús Vargas Ojeda</p>
                    <p class="correo">tj.vargas&#64;flecha-amarilla.com</p>
                </div>
                <div class="persona">
                    <p class="nombre">Veronica Noemi Ibarra Rangel</p>
                    <p class="correo">vn.ibarra&#64;flecha-amarilla.com</p>
                </div>
            </div>
        </div>
    </main>
